/* Root Style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Body styles */
body {
  font-family: sans-serif;
  background: radial-gradient(#0f0f0f, #121212);
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0.8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}
/* Main */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 100%;
  padding: 1em;
  max-width: 600px;
}
/* Main Section Wrapper */
.main-section-wrapper {
  background-color: #1E1E1E;
  width: 100%;
  height:400px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 1em 2em;
}
/* Main Section Header */
.main-section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* Main Section Title */
.section-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}
/* Friends List */
#friends-list-header {
  display: none;
}
.friends-list-article {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
}
.friends-list-article ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  font-size: 1.5em;
}
.friends-list-article ul li {
  background-color: #141414;
  padding: 0.5em;
  border-radius: 10px;
}

/* Main Sections - Friends */
/* #friends-section {
  display: none;
}
#add-friends-button {
  display: none;
} */
/* Main Sections - Add Friends */
/* #add-friends-section {
  display: none;
}
#add-friends-submit-button {
  display: none;
} */
/* Add Friends Form */
 #add-friends-form {
margin-top: 1em;
}
/* Input Label */
fieldset {
 border: #BB86FC solid 1px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 0 1em 0.3em 1em;
}
legend {
  color: #BB86FC;
  font-size: 0.8rem;
  font-weight: 100;
  margin-left: 10px;
  padding: 0 10px;
}
/* Input */
input {
  height: 40px;
  background-color: #1E1E1E;
  color: #ffffff;
  border: none;
  font-size: 1.5em;
}
input:focus {
  outline: none;
  border: none;
}
#add-friends-input {
  width: 100%
}
#name-input {
  display: flex;
  justify-content: space-between;
  gap: 0;
}
.error-message {
  color: #ff0000;
  font-size: 14px;
  margin-top: 0.3em;
  font-weight: 100;
  margin-left: 1em;
}
/* Action buttons */
button {
  background-color: #BB86FC;
  color: #000;
  border: none;
  padding: 0.5em 1em;
  border-radius: 20px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  align-items: center;
  margin: 1em 0;
}
button:hover {
  background-color: #a35afd;
  color: #fff;
  transform: scale(0.9);
  transition: all 0.3s ease;
  fill: #ffffff;
  border: #bbbbbb solid 1px;
}
.action-button {
  align-self: flex-end;
  margin-bottom: 55px;
}
#add-friends-button {
  display: none;
}
/* Footer */
footer {
  position: fixed;
  bottom: 0;
  background-color: #141218;
  width: 100%;
}
/* Nav */
footer nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  border-top: #505050 solid 1px;
}
/* Nav item */
footer nav ul li a{
  text-decoration: none;
  color: #ffffff;
  font-size: 0.8rem;
  display: flex;
  flex-direction: column-reverse;
  margin: 0.5em 0;
  align-items: center;
  fill: #ffffff;
}
 .active a {
  color: #BB86FC;
  fill: #BB86FC;
}
@media screen and (min-width: 800px) {
  a:hover {
    fill: #bbbbbb;
    color: #bbbbbb;
    transform: scale(1.1);
    transition: all 0.3s ease;
  }  
}