/* Root Style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Body styles */
body {
  font-family: sans-serif;
  background: radial-gradient(#0f0f0f, #121212);
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0.8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}
a {
  color: #ffffff;
  fill: #ffffff;
  display: flex;
  align-items: center;
}
ul {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
li  {
  background-color: #141414;
  padding: 0.5em;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
article {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
}
/* Main */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 100%;
  padding: 1em;
  max-width: 600px;
}
/* Main Section Wrapper */
.main-section-wrapper {
  background-color: #1E1E1E;
  width: 100%;
  height: fit-content;
  min-height: 500px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 1em 1em;
}
/* Main Section Header */
.main-section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#expenses-header {
  display: none;
}
/* Main Section Title */
.section-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}
/* Friends List */
#friends-list-header {
  display: none;
}
.friends-list-article ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  font-size: 1.5em;
}
.friends-list-article ul li {
  background-color: #141414;
  padding: 0.5em;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* Profile Picture */
.profile-picture {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1em;
  font-weight: 600;
  color: #ffffff;
  order: -1;
}
form {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
select {
  height: 40px;
  background-color: #1E1E1E;
  color: #ffffff;
  border: none;
  font-size: 1em;
  padding: 0 0;
  width: 100%;
}
select:focus-visible {
  outline: none !important;
}
option {
  background-color: #1E1E1E;
  color: #ffffff;
  border: none;
  font-size: 1em;
  padding: 0 1em;
}
/* Input Label */
fieldset {
  border: #b9b9b9 solid 1px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 0 1em 0.3em 1em;
}
legend {
  color: #b9b9b9;
  font-size: 0.8rem;
  font-weight: 300;
  margin-left: 10px;
  padding: 0 10px;
}
/* Input */
input {
  height: 40px;
  background-color: #1E1E1E;
  color: #ffffff;
  border: none;
  font-size: 1em;
  width: 100%;
}
input:focus {
  outline: none;
  border: none;
}
#add-friends-input {
  width: 100%
}
#name-input {
  display: flex;
  justify-content: space-between;
  gap: 2em;
}
#add-friend-input-plus {
  width: 30px;
}
.error-message {
  color: #ff0000;
  font-size: 14px;
  margin-top: 0.3em;
  font-weight: 300;
  margin-left: 1em;
}

/* Action words */
.action-word {
  font-size: 0.8em;
  font-weight: 300;
  color: #bbbbbb;
}
.owed-amount {
  display: flex;
  align-items: center;
  gap: 2em;
}
.money {
  font-size: 1.2em;
  font-weight: 600;
  color: #BB86FC;
}
.money-owed {
  font-size: 1.2em;
  font-weight: 600;
  color: #BB86FC;
  display: flex;
  gap: 2em;
  align-items: center;
}
/* Action buttons */
button {
  background-color: #00000000;
  color: #ffffff;
  border: #ffffff solid 1px;
  padding: 0.5em 1em;
  border-radius: 20px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  align-items: center;
  margin: 1em 0;
  margin-bottom: 55px;
}
button:hover {
  background-color: #a35afd;
  color: #fff;
  transform: scale(0.9);
  transition: all 0.3s ease;
  fill: #ffffff;
  border: #bbbbbb solid 1px;
}
.action-button {
  align-self: flex-end;
  color: #000000;
  background-color: #BB86FC;
  border: none;
}
#form-buttons {
  display: flex;
  align-self: flex-end;
  gap: 1em;
}
#add-expense-button {
  display: none;
}
#add-friends-button {
  display: none;
}
/* Footer */
footer {
  position: fixed;
  bottom: 0;
  background-color: #0f0f0f;
  width: 100%;
}
/* Nav */
footer nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  border-top: #505050 solid 1px;
}
/* Nav List */
.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 0.5em 0;
}
.nav-list li {
  background-color: #00000000;
}
/* Nav item */
footer nav ul li a{
  text-decoration: none;
  color: #ffffff;
  font-size: 0.8rem;
  display: flex;
  flex-direction: column-reverse;
  margin: 0.5em 0;
  align-items: center;
  fill: #ffffff;
  
}
 .active a {
  color: #BB86FC;
  fill: #BB86FC;
}
@media screen and (min-width: 800px) {
  a:hover {
    fill: #bbbbbb;
    color: #bbbbbb;
    transform: scale(1.1);
    transition: all 0.3s ease;
  }  
}
/* Hide Sections on Load */
#expenses-section {
  display: none;
}
#totals-section {
  display: none;
}
#balance-section {
  display: none;
}
#form-buttons {
  display: none;
}
#add-friends-button {
  display: none;
}
#add-expense-cancel-button {
  display: none;
}